<h1>Login do Administrador</h1>

<form action="/admin/login" method="POST">
    <div>
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Entrar</button>
</form>

{{#if error}}
<p style="color: red;">{{error}}</p>
{{/if}}